@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$custom-colors: (
    "violet": #aa00ff,
    "vivid-blue": #127dff
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";

@mixin checked-bg($color-name, $color-value) {
    .checked-bg-#{$color-name} {
      &:checked {
        background-color: $color-value !important;
      }
    }
}

@each $color, $value in $theme-colors {
    @include checked-bg($color, $value)
}